{% extends 'base.html' %}
{% block content %}

<h2>Новая задача</h2>
<form method="post">
    <label>Что нужно сделать:</label>
    <input type="text" name="title" required autofocus>

    <label>Кому:</label>
    <input type="text" name="assignee" required>

    <label>Срок:</label>
    <input type="date" name="deadline">

    <label>Приоритет:</label>
<select name="priority">
    <option value="низкий">🟢 Низкий</option>
    <option value="обычный" selected>🟡 Обычный</option>
    <option value="высокий">🔴 Высокий</option>
</select>

    <button type="submit">Сохранить</button>
    <a href="{{ url_for('index') }}">Отмена</a>
</form>

{% endblock %}