!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мастерская 3D-печати</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>3D-печать</h1>
        <nav>
    <a href="{{ url_for('index') }}">Задачи</a>
    <a href="{{ url_for('warehouse') }}">Склад</a>
    <a href="{{ url_for('production') }}">Производство</a>
    <a href="{{ url_for('finance') }}">Финансы</a>
</nav>
    </header>
            <main>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="flash">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
</main>

</body>
</html>